<div class="flex-wrapper">
  <div class="menu-bar">
    <app-student-menu [(mainOptions)]="mainOptions"></app-student-menu>
  </div>
  <div class="content-bar">
    <app-student-dashboard-profile
      *ngIf="isTriggered('Profile', mainOptions) === 'true'"></app-student-dashboard-profile>
    <app-student-dashboard-active-books
      *ngIf="isTriggered('Active Books', mainOptions) === 'true'"></app-student-dashboard-active-books>
    <app-student-dashboard-book-history
      *ngIf="isTriggered('Book History', mainOptions) === 'true'"></app-student-dashboard-book-history>
    <app-student-dashboard-fine *ngIf="isTriggered('Fine', mainOptions) === 'true'"></app-student-dashboard-fine>
  </div>
</div>
