<div class="footer-bar">
  <div class="logo-section">
    <div class="logo-container">
      <div class="logo-section-text">
        <span class="logo-section-text-1">INHA</span>
        <span class="logo-section-text-2">Library</span>
      </div>
      <img src="../../../../assets/images/inha-logo.png" alt="">
    </div>
    <div class="links-section">
      <a href=""><img src="../../../../assets/images/instagram-icon.png" alt=""></a>
      <a href=""><img src="../../../../assets/images/telegram-icon.png" alt=""></a>
    </div>
  </div>
  <div class="info-section">
    <p class="info-section-text-1">Copyright © 2022 The Academic Affairs of INHA University | Accessibility | Digital
      Accessibility | Privacy | Help</p>
    <p class="info-section-text-2">The INHAID system, and the systems, data, and other resources that require INHAID
      authentication for access, are only for legitimate INHA University users.
      Use may be monitored, and improper use of the INHAID system or those resources may result in disciplinary action
      and civil and criminal charges.</p>
  </div>
</div>
