<div class="top-bar">
  <div class="top-left-bar">
    <a href="" class="menu"><img src="./assets/images/menu-icon.png" alt=""></a>
    <div class="logo-bar">
      <p class="logo-text logo-text-1">INHA</p>
      <p class="logo-text logo-text-2">Library</p>
      <img src="./assets/images/inha-logo.png" class="logo-icon" alt="">
    </div>
    <p class="inha-text"><span class="inha-inline-text">INHA</span> University in Tashkent</p>
  </div>
  <a href="" class="top-right-bar">
    <img src="./assets/images/speech-icon.png" alt="">
    <p class="top-right-text">Ask</p>
  </a>
</div>
