.menu-bar {
  left: 0;
  top: 0;
  background: #5564B2;
  border-radius: 0 16px 16px 0;
  min-height: 100%;
  width: 15%;


  display: flex;
  flex-direction: column;
}

.main-bar{
  width: 85%;
  min-height: 100%;
}

.options-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: auto;
  max-height: 50vh;
  gap: 0.1vh;
}

.menu-element {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  align-items: center;
}

.menu-element-bug{
  gap: 1.1vw;
}

.top-bar{
  min-height: 10vh;
  width: 100%;
  margin-bottom: 3.5vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.bottom-bar{
  min-height: 30vh;
  width: 100%;

  border-top: 3px solid #B5B5B5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.bottom-bar-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.top-bar-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.3vw;
  line-height: 1.8vw;

  color: #FFFFFF;
}

.log-out-btn{
  width: 40%;
}

.id-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 1.3vw;
  line-height: 1.5vw;

  color: #FFFFFF;
}

.menu-option{
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 1.5vw;
  color: #FFFFFF;
}

a{
  text-decoration: none;
  padding-left: 1rem;
  min-height: 6vh;
  width: 100%;
}


.librarian-section{
  margin-top: 0.7vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.librarian-section > a{
  display: flex;
  align-items: center;
}

.flex-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
}
.main-bar{
  flex: auto;
}

.menu-icon{
  width: 1.8vw;
}

