<div class="main-block">
  <div class="top-bar">
    <div class="logo-name">
      <img src="./assets/images/inha-logo.png" alt="" class="logo">
      <div class="logo-text">
        <p class="logo-text-1">INHA</p>
        <p class="logo-text-2">University</p>
      </div>
    </div>

    <div class="login-card">
      <div class="login-text">
        <p class="login-text-1">INHA<span class="login-text-2">ID</span></p>
        <p class="login-text-3">Sign In</p>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter ID">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Password">
      </div>
      <button mat-raised-button color="primary">SIGN IN</button>
    </div>


  </div>
</div>
