.top-bar{
  position: absolute;
  width: 100vw;
  min-height: 14vh;
  left: 0;
  top: 0;
  background: rgba(85, 100, 178, 0.86);
}

.logo{
  position: relative;
  left: 1.72%;
  right: 90.78%;
  top: 1.92%;
  bottom: 86.54%;
  width: 5vw;
}

.logo-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:3rem;
  margin-top: 1em;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}

.logo-text-1{
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
  line-height: 2.2vw;
  letter-spacing: 0em;
  text-align: left;
}

.logo-text-2{
  font-family: Inter, sans-serif;
  font-size: 1.3vw;
  font-style: italic;
  font-weight: 300;
  line-height: 1.7vw;
  letter-spacing: 0em;
  text-align: left;
}
.main-block{
  width: 100vw;
  min-height: 100vh;
  background-image: url('../../../assets/images/inha-sign-in-bg-img.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.login-card{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 35vh;
  left: 37vw;
  width: 25vw;
  min-height: 40vh;
  background: rgba(255, 255, 255, 0.89);
  padding: 4em 3em 5em 3em ;
}
.example-form{
  display: flex;
  flex-direction: column;
}

.login-text{
}

.login-text-1{
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0rem;
}

.login-text-2{
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #5564B2;
}

.login-text-3{
  font-family: Abhaya Libre, serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
}
