<div class="main-content">
  <span class="profile-title">Profile</span>
  <div class="profile-details">
    <span class="profile-detail">First Name:</span><input type="text" disabled [value]="userData.firstName">
    <span class="profile-detail">Last Name:</span><input type="text" disabled [value]="userData.lastName">
    <span class="profile-detail">ID:</span><input type="text" disabled [value]="userData.memberId">
    <span class="profile-detail">E-mail:</span><input type="text" disabled [value]="userData.email">
  </div>
</div>
