<div class="main-content">
  <span class="active-book-title">Active Books</span>

  <div class="active-books-container">

    <div class="active-book" #activeBooks *ngFor="let book of activeBooks">
      <div class="active-book-card">
        <div class="active-book-img-container"><img src="./assets/images/python-book-1.png" alt=""></div>
        <div class="active-book-details">
          <div class="active-book-details-section">
            <span class="active-book-text-1">Book</span>
            <span class="active-book-text-2">{{book.title}}</span>
            <span class="active-book-text-1">By {{book.author}}</span>
          </div>
          <div class="active-book-details-section">
            <span class="active-book-status">{{book.status}}</span>
            <span class="active-book-text-2">Submission Date: {{book.returnDate}}</span>
          </div>
        </div>
      </div>
      <div class="report-btn">
        <button mat-raised-button color="warn">Report lost</button>
      </div>
    </div>


  </div>

</div>
