<div class="main-content">
  <span class="active-book-title">Active Books</span>

  <div class="active-books-container">

    <div class="active-book">
      <div class="active-book-card">
        <div class="active-book-img-container"><img src="./assets/images/python-book-1.png" alt=""></div>
        <div class="active-book-details">
          <div class="active-book-details-section">
            <span class="active-book-text-1">Book</span>
            <span class="active-book-text-2">Python : Create - Modify - Reuse</span>
            <span class="active-book-text-1">By Jim Knowlton</span>
          </div>
          <div class="active-book-details-section">
            <span class="active-book-status">Active</span>
            <span class="active-book-text-2">Submission Date: 15/12/22</span>
          </div>
        </div>
      </div>
      <button mat-raised-button color="warn">Report lost</button>
    </div>

  </div>

</div>
