<div class="flex-wrapper">
  <div class="top-bar">
    <div class="left-section">
      <span class="left-section-text">ASK<span class="left-section-nested-text"> a Librarian</span></span>
    </div>
    <div class="right-section">
      <span class="right-section-text">INHA LIBRARY</span>
      <img src="./assets/images/inha-logo.png" alt="" class="logo">
    </div>
  </div>

  <div class="main-bar">
    <form action="" class="main-form">
      <span class="main-text">Title:</span>
      <input type="text" class="form-control">
      <span class="main-text">Message:</span>
      <textarea class="form-control" cols="50" rows="18"></textarea>
      <button class="btn-outline-primary submit-btn"
              mat-raised-button color="primary">Send
      </button>
    </form>
  </div>

  <app-student-main-footer class="footer-bar"></app-student-main-footer>
</div>
