<div class="main-content">
  <span class="fine-title">Fine</span>
  <div class="search-bar">



    <div class="input-group mb-3 search-input">
      <div ngbDropdown class="dropdown">
        <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">
          Dropdown button
        </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
          <li><a ngbDropdownItem href="#">Another action</a></li>
          <li><a ngbDropdownItem href="#">Something else here</a></li>
        </ul>
      </div>
      <input type="text" class="form-control">
      <span class="input-group-text">Search</span>
    </div>

  </div>
</div>
