<div class="menu-bar">
  <div class="top-bar">
  <span class="top-bar-text">INHA</span>
  <span class="top-bar-text">Library</span>
  </div>
  <div class="options-bar">
    <a href="" class="menu-element"><img src="./assets/images/menu-profile.png" alt="" >Profile</a>
    <a href="" class="menu-element"><img src="./assets/images/menu-active-books.png" alt="" >Active Books</a>
    <a href="" class="menu-element"><img src="./assets/images/menu-book-history.png" alt="" >Book History</a>
    <a href="" class="menu-element"><img src="./assets/images/menu-fine.png" alt="" >Fine</a>
  </div>
  <div class="bottom-bar">
    <div class="bottom-bar-section">
    <img src="./assets/images/menu-avatar.png" alt="">
    <span class="id-text">U******</span>
    </div>
    <button type="button" class="btn btn-outline-light log-out-btn">Log out</button>
  </div>
</div>
