<div class="flex-content">
  <div class="menu-bar">
    <div class="top-bar">
      <span class="top-bar-text">INHA</span>
      <span class="top-bar-text">Library</span>
    </div>
    <div class="options-bar">
      <a href="javascript:void(0)" class="menu-element" #profileOption (click)="profileOnClick(profileOption)"><img
        src="./assets/images/menu-profile.png"
        alt="" class="menu-icon"><span class="menu-option">Profile</span></a>
      <a href="javascript:void(0)" class="menu-element" #activeBooksOption
         (click)="activeBooksOnClick(activeBooksOption)"><img src="./assets/images/menu-active-books.png" alt=""
                                                              class="menu-icon"><span
        class="menu-option">Active Books</span>
      </a>
      <a href="javascript:void(0)" class="menu-element" #bookHistoryOption
         (click)="bookHistoryOnClick(bookHistoryOption)"><img src="./assets/images/menu-book-history.png" alt=""
                                                              class="menu-icon"><span
        class="menu-option">Book
      History</span></a>
      <a href="javascript:void(0)" class="menu-element" #fineOption (click)="fineOnClick(fineOption)"><img
        src="./assets/images/menu-fine.png" alt="" class="menu-icon"><span
        class="menu-option">Fine</span></a>
    </div>
    <div class="bottom-bar">
      <div class="bottom-bar-section">
        <img src="./assets/images/menu-avatar.png" alt="">
        <span class="id-text">U******</span>
      </div>
      <button type="button" class="btn btn-outline-light log-out-btn">Log out</button>
    </div>
  </div>
  <div class="main-bar"></div>
</div>
